{%extends 'base.html'%}
{%load static%}
{% block content%}

<!-- Start Slider Area -->
<div class="intro-area intro-area-4 ">
<div class="main-overly"></div>
<div class="intro-carousel">
    <div class="intro-content">
        <div class="slider-images">
            <img src="{% static 'img/slider/s1.jpg' %}" alt="">
        </div>
        <div class="slider-content">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- layer 1 -->
                                <div class="layer-1">
                                    <h1 class="title2">Cleanhome <span class="color">success</span> in every projects</h1>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-2 ">
                                    <p>A Cleaning company services is provides professional services.</p>
                                </div>
                                <!-- layer 3 -->
                                <div class="layer-3">
                                    <a href="#" class="ready-btn left-btn" >Our Services</a>
                                    <a href="{%url 'newbooking' %}" class="ready-btn right-btn" >Book now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-content">
        <div class="slider-images">
            <img src="{% static 'img/slider/s2.jpg' %}" alt="">
        </div>
        <div class="slider-content">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <!-- layer 1 -->
                                <div class="layer-1">
                                    <h1 class="title2"><span class="color">Cleanhome</span> company is provides services</h1>
                                </div>
                                <!-- layer 2 -->
                                <div class="layer-2 ">
                                    <p>A Cleaning company services is provides professional services.</p>
                                </div>
                                <!-- layer 3 -->
                                <div class="layer-3">
                                    <a href="#" class="ready-btn left-btn" >Our Services</a>
                                    <a href="#" class="ready-btn right-btn" >Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Appointment Area -->
<!-- service area start -->
<div class="welcome-area welcome-area-4 area-padding">
<div class="container">
    <div class="row">
        <!-- single-well end-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="well-services text-center">
                <span class="slugan">25% <br/>off</span>
                <div class="services-img">
                    <a href="#"><i class="flaticon-cleaning"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>Residential cleaning</h4>
                        <p>Pernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit</p>
                        <ul>
                            <li>Floors cleaning</li>
                            <li>Window cleaning</li>
                            <li>Carpet cleaning</li>
                            <li>Washroom cleaning</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="well-services text-center">
                <div class="services-img">
                    <a href="#"><i class="flaticon-cleaning-10"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>Commercial cleaning</h4>
                        <p>Pernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit</p>
                        <ul>
                            <li>Floors cleaning</li>
                            <li>Window cleaning</li>
                            <li>Carpet cleaning</li>
                            <li>Washroom cleaning</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="well-services text-center">
                <span class="slugan">30% <br/>off</span>
                <div class="services-img">
                    <a href="#"><i class="flaticon-housekeeping"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>Maid service</h4>
                        <p>Pernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit</p>
                        <ul>
                            <li>Hourly cleaning</li>
                            <li>Daily cleaning</li>
                            <li>Weekly cleaning</li>
                            <li>Monthly cleaning</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-well end -->
        <div class="hidden-md hidden-lg col-sm-6 col-xs-12">
            <div class="well-services text-center">
                <div class="services-img">
                    <a href="#"><i class="flaticon-cleaning-10"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>Garden cleaning</h4>
                        <p>Pernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit</p>
                        <ul>
                            <li>Tree cutting</li>
                            <li>Garden cleaning</li>
                            <li>Water cleaning</li>
                            <li>Garden maintenance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- service-area end -->
<!-- about-area start -->
<div class="about-area area-padding">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="about-content">
                <h4> <span class="color">Clean Home </span> - Bringing Excellence in Residential & Commercial cleaning services</h4>
                <p>The phrasal sequence of the Lorem Ipsum text is now so widespread and commonplace that many DTP programmes can generate dummy text using. the Lorem Ipsum text is now so widespread and commonplace that many DTP programmes can generate dummy text using.</p>
                <div class="about-details text-center hidden-sm">
                    <div class="single-about">
                        <div class="icon-title">
                            <a href="#"><i class="icon icon-gift"></i></a>
                            <h5>Certified company</h5>
                        </div>
                        <p>The phrasal sequence of the Lorem Ipsum text is now so widespread</p>
                    </div>
                    <div class="single-about">
                        <div class="icon-title">
                            <a href="#"><i class="icon icon-thumbs-up"></i></a>
                            <h5>Our experience</h5>
                        </div>
                        <p>The phrasal sequence of the Lorem Ipsum text is now so widespread</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="about-image">
                <img src="{% static 'img/about/ab.jpg' %}" alt="">
            </div>
        </div>
        <!-- column end -->
    </div>
</div>
</div>
<!-- about-area end -->
<!-- Start Banner Area -->
<div class="banner-area">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="banner-content">
                <h4>Are you looking for professional Cleaning Services for your House?</h4>
                <div class="banner-contact">
                    <!-- <span class="call-us"><i class="icon icon-phone-handset"></i>Call us:  +1313-4325432 </span><span>Or</span> -->
                    <a class="banner-btn" href="{%url 'newbooking' %}">book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Banner Area -->
<!-- Start Service area -->
<div class="services-area services-4 area-padding">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
                <h3>Our Services</h3>
                <p>The world's Latest at clean cleaning service company we can clean your residential space including homes.</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="all-services">
            <!-- Start services -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                   <span class="slugan">25% <br/>off</span>
                    <a class="service-image" href="#">
                        <img src="{% static 'img/service/1.jpg' %}" alt="">
                    </a>
                    <div class="service-content">
                        <h4>House cleaning</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                        <a class="service-btn" href="#">read more</a>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <a class="service-image" href="#">
                        <img src="{% static 'img/service/2.jpg' %}" alt="">
                    </a>
                    <div class="service-content">
                        <h4>Apartment cleaning</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                        <a class="service-btn" href="#">read more</a>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <span class="slugan">30% <br/>off</span>
                    <a class="service-image" href="#">
                        <img src="{% static 'img/service/3.jpg' %}" alt="">
                    </a>
                    <div class="service-content">
                        <h4>Carpet cleaning</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                        <a class="service-btn" href="#">read more</a>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <a class="service-image" href="#">
                        <img src="{% static 'img/service/4.jpg' %}" alt="">
                    </a>
                    <div class="service-content">
                        <h4>Commercial cleaning</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                        <a class="service-btn" href="#">read more</a>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <span class="slugan">20% <br/>off</span>
                    <a class="service-image" href="#">
                        <img src="{% static 'img/service/5.jpg' %}" alt="">
                    </a>
                    <div class="service-content">
                        <h4>Residential cleaning</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                        <a class="service-btn" href="#">read more</a>
                    </div>
                </div>
            </div>
            <!-- Start services -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service">
                    <a class="service-image" href="#">
                        <img src="{% static 'img/service/6.jpg' %}" alt="">
                    </a>
                    <div class="service-content">
                        <h4>After renovation</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                        <a class="service-btn" href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Service area -->
<!-- Start Quote Area -->
<div class="quote-area area-padding parallax-bg">
<div class="container ">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="row">
                <div class="quate-details">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="sub-head">
                            <h4>Request a  <span class="color">Call back</span></h4>
                            <p>Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="quote-locate">
                            <div class="quote-icon">
                                <i class="icon icon-map-marker"></i>
                                <span class="info-first">House-34,22/2 avenue</span>
                                <span class="info-simple">London, United Kingdom</span>
                            </div>
                            <div class="quote-icon">
                                <i class="icon icon-phone"></i>
                                <span class="info-first">+013 654 43245</span>
                                <span class="info-simple">info@cleaningss.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="name" class="form-control" placeholder="Name" required data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                                <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                                <input type="number" class="form-control" id="phone" placeholder="phone number" required data-error="Please enter your Phone number">
                                <div class="help-block with-errors"></div>
                                <select>
                                    <option value="position">Apartment Cleaning</option>
                                    <option value="position">Commercial Cleaning</option>
                                    <option value="position">Residential Cleaning</option>
                                    <option value="position">Carpet Cleaning</option>
                                    <option value="position">Window Cleaning</option>
                                    <option value="position">After Renovation</option>
                                    <option value="position">Maid Services</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="message" rows="7" placeholder="Massage" class="form-control" required data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                                <button type="submit" id="submit" class="quote-btn">Submit</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                <div class="clearfix"></div>
                            </div>   
                        </form>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Quote -->
<!-- service area start -->
<div class="choose-area bg-color area-padding">
<div class="container">
   <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
                <h3>Why choose us</h3>
                <p>The world's Latest at clean cleaning service company we can clean your residential space including homes.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- single-well end-->
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="well-services text-center">
                <div class="services-img">
                    <a href="#"><i class="flaticon-cleaning-6"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>Expert Employee</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="well-services text-center">
                <div class="services-img">
                    <a href="#"><i class="flaticon-cleaning-8"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>Secure Services</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="well-services text-center">
                <div class="services-img">
                    <a href="#"><i class="flaticon-spray"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>Low Costing</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-well end -->
        <div class="col-md-3 hidden-sm col-xs-12">
            <div class="well-services text-center">
                <div class="services-img">
                    <a href="#"><i class="flaticon-sweeping-3"></i></a>
                </div>
                <div class="main-services">
                    <div class="service-content">
                        <h4>On time Finished</h4>
                        <p>Aspernatur sit adipisci quaerat unde at neque Redug Lagre dolor sit amet consectetu.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- single-well end -->
    </div>
</div>
</div>
<!-- service-area end -->

<!-- Start Counter area -->
<div class="counter-area area-padding parallax-bg" data-stellar-background-ratio="0.6">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="about-count">
               <div class="fun-content">
                    <div class="fun_text">
                        <a href="#"><i class="icon icon-diamond"></i></a>
                        <span class="counter">13000</span>
                        <h5>Complete Projects</h5>
                    </div>
                    <!-- fun_text  -->
                    <div class="fun_text">
                        <a href="#"><i class="icon icon-star"></i></a>
                        <span class="counter">4500</span>
                        <h5>Happy Clients</h5>
                    </div>
                    <!-- fun_text  -->
                    <div class="fun_text">
                        <a href="#"><i class="icon icon-layers"></i></a>
                        <span class="counter">104</span>
                        <h5>Present Projects</h5>
                    </div>
                    <!-- fun_text  -->
                    <div class="fun_text">
                        <a href="#"><i class="icon icon-users"></i></a>
                        <span class="counter">4300</span>
                        <h5>Total Employee</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Counter area -->
{%endblock content%}