{%load static %}
<!-- Start Footer bottom Area -->
 <footer class="footer-1">
    <div class="footer-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a href="#"><img src="{% static 'img/logo/logo2.png' %}" alt=""></a>
                            </div>
                            <p>We help agencies to define their new business objectives and then create the road map to get them there by devising a business.We help agencies to define their new business.</p>

                            <div class="footer-contacts">
                                <p><span>Tel:</span> +01 xxx xxxx xxx</p>
                                <p><span>Email:</span> info@xxxx.xxx</p>
                                <p><span>Location:</span> 22 avanue,Newyork</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4> Links</h4>
                            <div class="footer-services-link">
                                <ul class="footer-list">
                                    <li><a href="">About us</a></li>
                                    <li><a href="">Clean Expert</a></li>
                                    <li><a href="">Review</a></li>
                                    <li><a href="">FAQ</a></li>
                                   
                            </div>
                            <div class="footer-icons">
                                <h5>Follow us</h5>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{%url 'becomecleaner' %}" class="quote-btn">Become Cleaner</a>
                <!-- end single footer -->
                <!-- <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Subscribe</h4>
                            <p>
                                We help agencies to define their new business objectives and then create the road map to get them there by devising a business.
                            </p>
                            <div class="subs-feilds">
                                <div class="suscribe-input">
                                    <input type="email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                    <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- end single footer -->
            </div>
        </div>
    </div>
    <!-- End footer area -->
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2020
                            <a href="#">Homework</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

	<!-- all js here -->


		<!-- bootstrap js -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- owl.carousel js -->
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- Counter js -->
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<!-- waypoint js -->
		<script src="{% static 'js/waypoints.js' %}"></script>
		<!-- isotope js -->
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <!-- stellar js -->
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<!-- magnific js -->
        <script src="{% static 'js/magnific.min.js' %}"></script>
		<!-- venobox js -->
		<script src="{% static 'js/venobox.min.js' %}"></script>
        <!-- meanmenu js -->
        <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
		<!-- Form validator js -->
		<script src="{% static 'js/form-validator.min.js' %}"></script>
		<!-- plugins js -->
		<script src="{% static 'js/plugins.js' %}"></script>
		<!-- main js -->
		<script src="{% static 'js/main.js' %}"></script>